body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .container_middle{
  display:flex;
  justify-content: center;
  width: 100%;
  height: 100%;
} */
.row {
  justify-content: center;
}
.register_form{
  margin: 40px;
  height: 100%;
  border: 1px solid #eee;
}
.container-reg {
  padding-top: 150px;
}
.menu_list{
  display:flex;
  height: 40px;
}
.menu_list >.left,.right{
  text-align: center;
  width: 50%;
  height:100%;
  border: 1px solid #eee;
  position: relative;
}
.menu_list >.left >a , .menu_list >.right > a{
  display:flex;
  text-decoration: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color:#999;
}
.menu_list>.right>a{
  color:black;
}
.menu_list>.right>a::before{
  content:"";
  position: absolute;
  height: 1px;
  left: 30px;
  right: 30px;
  bottom: -1px;
  background-color: #3f3fdb;
}
.group{
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
}
.group > .line-1 > label{
  margin-top: 30px;
}
.group > div > label{
  margin:10px 0 0 0;
  font-weight: 600;
  font-size: 13px;
}
.group > div {
  padding: 0 20px;
  
}
.group > div > input{
  background:#fafafa;
  height:30px;
  padding-left: 15px;;
  width: 100%;
  border:2px solid #ececec !important;
  outline:none;
}
.btn_ttk{
  width: 100%;
  height: 40px;
  background:black;
  color:#fff;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
  position:relative;
  font-size: 14px;
  font-weight: 400;
}

.btn_ttk:hover{
  transform: scale(.98);
  cursor: pointer;
}
.line-break::before{
  content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 15px;
}
.line-break{
  margin:10px 0px;
  text-align: center;
  position: relative;
  max-width: 100%;
  
}

.line-break span{
  font-size: 12px;
  position: relative;
  color:#999;
  padding:1px 10px;
  border: 1px solid #eee;
  border-radius: 15px;
  z-index: 1;
  background-color: #fff;
}

.social-media-login{
  text-align: center;
  margin-top: 10px;
  
}
.notifi {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.fa-eye {
  float: right;
  transform: translateY(-128%);
  opacity: 0.6;
  font-size: 18px;
}
.fa-eye:hover {
  opacity: 1;
}

