.col-5 img {
  margin-right: 14px;
}
.cart-product {
  display: flex;
  align-items: center;
}
.cart-product p {
  margin-left: 20px;
}
.row {
  align-items: center;
}
 input {
  width: 40%;
}
.col-lg-1 button,
.col-lg-2 button {
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  padding: 4px 0px;
}
.col-lg-1 button:hover,
.col-lg-2 button:hover {
  opacity: 0.8;
}
.container {
  padding-top: 80px;
}
.total {
  text-align: center;
  color: red;
  font-weight: bold;
}
.padding-fix {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.cart-product p {
  margin: 0px 0px 0px 20px !important;
}
.cart-flex {
  display: flex;
  gap: 8px;
  margin: 4px 0px !important;
}
.container-fluid {
  padding-top: 80px;
}
.container-number {
  display: flex;
  gap: 20px;
}